<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="icon" type="https://2h6212.p3cdn1.secureserver.net/wp-content/uploads/2022/10/logo-BIG-TOE--1536x1398.png" href="https://2h6212.p3cdn1.secureserver.net/wp-content/uploads/2022/10/logo-BIG-TOE--1536x1398.png"/>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <title>Registro Paciente</title>
    <style>
label {
        color: #3D2E48;
        font-size: 17px;
      }
      h3 {
      color : #F29494;
      }
      hr,h5 {
        color: #7ABFA6;
        
      }
      h6, h4 {
        color : #F29494;
        font-size: 17px;
      }
      .navbar {
  font-size: 21px;
}
      img {
        height: 210px;
  }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md fixed-top bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><iconify-icon icon="material-symbols:home-outline-rounded" style="color: #f29494;" width="30" height="30"></iconify-icon></a>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span class="visually-hidden"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="#">FisioInnova</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
        </div>
      </div>
    </nav>
    <br>
      <div class="container">
        <br>
        <br>
      <img src="https://2h6212.p3cdn1.secureserver.net/wp-content/uploads/2022/10/logo-BIG-TOE--1536x1398.png" align="right" width="220" height="210" max-width= "263px">
        <br>
        <br>
        <br>
          <h3>Registro Paciente</h3>
          <hr>
          <div class="row">
            <div class="container">
        </div>
          <div class="form-check-inline">
            <form action="/savePac" method="POST">
              <div class="mb-3">
                <input type="number" class="form-control" id="id" name="id" tabindex="1" placeholder="Código Persona" hidden>
                </div>
            </div>
            <div class="col-md-4">
              <iconify-icon icon="material-symbols:date-range" style="color: #7ABFA6;"></iconify-icon>
               <input type="date" class="form-control" id="Fecha" name="Fecha" placeholder="Fecha">
              </div>
              <div class="col-md-4">
                <iconify-icon icon="tabler:clock-hour-3" style="color: #7ABFA6;"></iconify-icon>
                 <input type="time" class="form-control" id="Hora" name="Hora" tabindex="2" placeholder="Hora">
                </div>
            <br>
            <br>
            <div></div>
            <br>
            <h6>Datos Personales</h6>
            <br>
            <div class="col-md-4">
              <div></div>
          
              <iconify-icon icon="uil:user" style="color: #7ABFA6;"></iconify-icon>
               <input type="text" class="form-control" id="NombreCompleto" name="NombreCompleto" tabindex="2" placeholder="Nombre Completo">
              </div>
          <div class="col-md-4">
              <iconify-icon icon="bxs:id-card" style="color: #7ABFA6;"></iconify-icon>
              <label for="TipoDocumento" class="form-label">Tipo de Documento</label>
              <select name="TipoDocumento" id="TipoDocumento" class="form-select" >
                  <option selected disabled>Seleccione una opción</option>
                  <option value="Cédula de ciudadanía" selected>Cédula de ciudadanía</option>
                  <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
                  <option value="Registro Civil">Registro Civil</option>
              </select>
          </div>
          <div class="col-md-4">
              <iconify-icon icon="ci:id-card" style="color: #7ABFA6;"></iconify-icon>
              <input type="number" class="form-control" id="NumIdentificacion" name="NumIdentificacion" placeholder="Número de identificación" tabindex="4">
          </div>
          <div class="col-md-4">
              <iconify-icon icon="simple-icons:googlemaps" style="color: #7ABFA6;"></iconify-icon>
              <input type="text" class="form-control" id="Direccion" name="Direccion" tabindex="5" placeholder="Dirección">
          </div>
          <br>
          <br>
          <br>
          <div class="col-md-4">
              <iconify-icon icon="mdi:cake" style="color: #7ABFA6;"></iconify-icon>
              <label for="FechaNacimiento" class="form-label">Fecha de Nacimiento</label>
              <input type="date" class="form-control" id="FechaNacimiento" name="FechaNacimiento" tabindex="6">
          </div>
          <div class="col-md-4">
              <iconify-icon icon="carbon:phone-voice-filled" style="color: #7ABFA6;"></iconify-icon>
              <input type="number" class="form-control" id="Telefono" name="Telefono" placeholder="Teléfono" tabindex="7">
          </div>
          <div class="col-md-4">
              <iconify-icon icon="healthicons:i-schedule-school-date-time" style="color: #7ABFA6;"></iconify-icon>
              <input type="number" class="form-control" id="Edad" name="Edad" tabindex="8" placeholder="Edad">
          </div>
          <div class="col-md-4">
              <iconify-icon icon="ph:gender-intersex-bold" style="color: #7ABFA6;"></iconify-icon>

              <label for="Sexo" class="form-label">Sexo</label>
              <select name="Sexo" id="Sexo" class="form-select" tabindex="9">
                  <option selected disabled>Seleccione una opción</option>
                  <option value="Femenino" selected>Femenino</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Otro">Otro</option>
              </select>
          </div>
          <div class="col-md-4">
              <iconify-icon icon="ic:outline-work" style="color: #7ABFA6;"></iconify-icon>
              <input type="text" class="form-control" id="Ocupacion" name="Ocupacion" placeholder="Ocupación" tabindex="10">
          </div>
          <div class="col-md-4">
            <iconify-icon icon="ic:twotone-health-and-safety" style="color: #7ABFA6;"></iconify-icon>
            <input type="text" class="form-control" id="CondicionSalud" name="CondicionSalud" placeholder="Condición Salud" tabindex="11">
        </div>
        <div class="col-md-4">
          <iconify-icon icon="ic:twotone-health-and-safety" style="color: #7ABFA6;"></iconify-icon>
          <input type="text" class="form-control" id="Eps" name="Eps" placeholder="Eps" tabindex="12">
      </div>
                <div></div>
      <br>
      <br>
      <h6>Antecedentes</h6>
      <br>
      <div class="col-md-4">
        <iconify-icon icon="map:pharmacy" style="color: #7ABFA6;"></iconify-icon>
        <label for="AntFarmacologicos" class="form-label">Antecedentes Farmacólogicos</label>
        <input type="text" style="width : 200px; height: 100px" class="form-control" id="AntFarmacologicos" name="AntFarmacologicos">
    </div>
    <div class="col-md-4">
      <iconify-icon icon="material-symbols:person" style="color: #7ABFA6;"></iconify-icon>
      <label for="AntPersonales" class="form-label">Antecedentes Personales</label>
      <input type="text" style="width : 200px; height: 100px" class="form-control" id="AntPersonales" name="AntPersonales">
  </div>
  <div class="col-md-4">
    <iconify-icon icon="ic:twotone-family-restroom" style="color: #7ABFA6;"></iconify-icon>
    <label for="AntFamiliares" class="form-label">Antecedentes Familiares</label>
    <input type="text" style="width : 200px; height: 100px" class="form-control" id="AntFamiliares" name="AntFamiliares">
</div>

        <div class="col-md-4" hidden>
            <input type="number" class="form-control" id="FKRol" name="FKRol">
        </div>
      <div></div>
      <br>
        <button type="submit" class="btn btn-outline-primary" style="width : 90px; height: 90px"  tabindex="12">Guardar datos</button>
        <br>
        <div></div>
        <br>
            </form>
          </div>
        </div>
      </div>

      
      <!-- <box-icon name='sushi' rotate='90' ></box-icon> -->
  </body>
</html>