<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>

    <link rel="stylesheet" href="stylesheets/stylesCreate.css">

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


    <title>Neurorehabilitación</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md fixed-top bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><iconify-icon icon="material-symbols:home-outline-rounded" style="color: #f29494;" width="30" height="30"></iconify-icon></a>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span class="visually-hidden"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="#">FisioInnova - Categorías</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
        </div>
      </div>
    </nav>
      <div class="container">
        <br>
        <br>
        <br>
        <img src="https://2h6212.p3cdn1.secureserver.net/wp-content/uploads/2022/10/logo-BIG-TOE--1536x1398.png" align="right" width="220" height="210" max-width= "263px">
        <br>
        <br>
        <br>
          <h3>Neurorehabilitación</h3>
          <hr size="8px">
          <div class="row">
            <div class="container">
        </div>
          <div class="form-check-inline">
            <form action="/saveNeur" method="POST">
              <div class="mb-3">
                <input type="number" class="form-control" id="id" name="id" placeholder="Código Persona" hidden>
                </div>
            </div>
            <br>
            <h5>Integridad de Nervios craneales</h5>
            <div class="col-sm-1 col-md-2 col-lg-3">
            <label for="Olfatorio" class="form-label">I: Olfatorio</label>
            <input type="text" class="form-control" id="Olfatorio" name="Olfatorio">
             </div>
            <div class="col-sm-1 col-md-2 col-lg-3">
              <label for="Optico" class="form-label">II: Óptico</label>
               <input type="text" class="form-control" id="Optico" name="Optico">
              </div>
              <div class="col-sm-1 col-md-2 col-lg-3">
                <label for="Oculomotor" class="form-label">III: Oculomotor</label>
                 <input type="text" class="form-control" id="Oculomotor" name="Oculomotor">
                </div>
              <div class="col-sm-1 col-md-2 col-lg-3">
                <label for="Troclear" class="form-label">IV: Troclear</label>
                 <input type="text" class="form-control" id="Troclear" name="Troclear">
                </div>
                <div class="col-sm-1 col-md-2 col-lg-3">
                  <label for="Trigemino" class="form-label">V:Trigémino</label>
                   <input type="text" class="form-control" id="Trigemino" name="Trigemino">
                  </div>
                  <div class="col-sm-1 col-md-2 col-lg-3">
                    <label for="Abducems" class="form-label">VI: Abducems</label>
                     <input type="text" class="form-control" id="Abducems" name="Abducems">
                    </div>
                    <div class="col-sm-1 col-md-2 col-lg-3">
                      <label for="Facial" class="form-label">VII: Facial</label>
                       <input type="text" class="form-control" id="Facial" name="Facial">
                      </div>
                        <div class="col-sm-1 col-md-2 col-lg-3">
                          <label for="Vestibulococlear" class="form-label">VIII: Vestibulococlear</label>
                           <input type="text" class="form-control" id="Vestibulococlear" name="Vestibulococlear">
                          </div>
                          <div class="col-sm-1 col-md-2 col-lg-3">
                            <label for="Glosofaringeo" class="form-label">IX: Glosofaríngeo</label>
                             <input type="text" class="form-control" id="Glosofaringeo" name="Glosofaringeo">
                            </div>
                            <div class="col-sm-1 col-md-2 col-lg-3">
                              <label for="Vago" class="form-label">X: Vago</label>
                               <input type="text" class="form-control" id="Vago" name="Vago">
                              </div>
                              <div class="col-sm-1 col-md-2 col-lg-3">
                                <label for="Accesorio" class="form-label">XI: Accesorio</label>
                                 <input type="text" class="form-control" id="Accesorio" name="Accesorio">
                                </div>
                                <div class="col-sm-1 col-md-2 col-lg-3">
                                  <label for="Hipogloso" class="form-label">XII: Hipogloso</label>
                                   <input type="text" class="form-control" id="Hipogloso" name="Hipogloso">
                                  </div>
                        <div></div>
                    <br>
                    <br>
                    <h5>Integridad de nervios periféricos / Procesamiento Sensorial</h5>
                    <br>
                    <br>
                    <h6>Sensibilidad Superficial (Tacto, Dolor)</h6>
                    <div class="col-sm-1 col-md-2 col-lg-3">
                      <label for="MiembroSupSS" class="form-label">Miembros Superiores</label>
                       <input type="text" class="form-control" id="MiembroSupSS" name="MiembroSupSS">
                      </div>
                      <div class="col-sm-1 col-md-2 col-lg-3">
                        <label for="MiembroInfSS" class="form-label">
                        Miembros Inferiores</label>
                         <input type="text" class="form-control" id="MiembroInfSS" name="MiembroInfSS">
                        </div>
                        <br>
                        <br>
                        <br>
                        <div></div>
                        <br>
                        <h6>Sensibilidad Profunda (Batiestesia)</h6>
                        <div class="col-sm-1 col-md-2 col-lg-3">
                          <label for="MiembroSupSP" class="form-label">Miembros Superiores</label>
                           <input type="text" class="form-control" id="MiembroSupSP" name="MiembroSupSP">
                          </div>
                          <div class="col-sm-1 col-md-2 col-lg-3">
                            <label for="MiembroInfSP" class="form-label">
                            Miembros Inferiores</label>
                             <input type="text" class="form-control" id="MiembroInfSP" name="MiembroInfSP">
                            </div>
                            <div></div>
                            <div></div>
                            <br>
                            <h5>Marcha</h5>
                            <div></div>
                            <h6>Parámetros Temporales de la marcha</h6>
                            <div class="col-sm-1 col-md-2 col-lg-3">
                              <label for="CicloMarcha" class="form-label">Ciclo de la Marcha</label>
                               <input type="text" class="form-control" id="CicloMarcha" name="CicloMarcha">
                              </div>
                              <div class="col-sm-1 col-md-2 col-lg-3">
                                <label for="PeriodoP" class="form-label">Período del paso</label>
                                 <input type="text" class="form-control" id="PeriodoP" name="PeriodoP">
                                </div>
                                <div class="col-sm-1 col-md-2 col-lg-3">
                                  <label for="PeriodoB" class="form-label">Período de balanceo</label>
                                   <input type="text" class="form-control" id="PeriodoB" name="PeriodoB">
                                  </div>
                                  <div class="col-sm-1 col-md-2 col-lg-3">
                                    <label for="Frecuencia" class="form-label">Frecuencia (Cadencia)</label>
                                     <input type="text" class="form-control" id="Frecuencia" name="Frecuencia">
                                    </div>
                                    <div class="col-sm-1 col-md-2 col-lg-3">
                                      <label for="Velocidad" class="form-label">Velocidad</label>
                                       <input type="text" class="form-control" id="Velocidad" name="Velocidad">
                                      </div>
                                      <div class="col-sm-1 col-md-2 col-lg-3">
                                        <label for="AceleraciónL" class="form-label">Aceleración línea</label>
                                         <input type="text" class="form-control" id="AceleraciónL" name="AceleraciónL">
                                        </div>
                                        <br>
                                        <div></div>
                                        <br>
                                        <h6>Parámetros especiales de la marcha</h6>
                                        <div class="col-sm-1 col-md-2 col-lg-3">
                                          <label for="Zancada" class="form-label">Zancada</label>
                                           <input type="text" class="form-control" id="Zancada" name="Zancada">
                                          </div>
                                          <div class="col-sm-1 col-md-2 col-lg-3">
                                            <label for="LongitudPaso" class="form-label">Longitud del paso</label>
                                             <input type="text" class="form-control" id="LongitudPaso" name="LongitudPaso">
                                            </div>
                                            <div class="col-sm-1 col-md-2 col-lg-3">
                                              <label for="AnguloPaso" class="form-label">Ángulo del paso</label>
                                               <input type="text" class="form-control" id="AnguloPaso" name="AnguloPaso">
                                              </div>
                                              <div></div>
                                              <div></div>
                                              <br>
                                              <h5>Integridad Tegumentaria</h5>
                                              <div></div>
                                              <h6>Características Tróficas</h6>
                                              <div class="col-sm-1 col-md-2 col-lg-3">
                                                <label for="Color" class="form-label">Color</label>
                                                 <input type="text" class="form-control" id="Color" name="Color">
                                                </div>
                                                <div class="col-sm-1 col-md-2 col-lg-3">
                                                  <label for="Hidratacion" class="form-label">Hidratación</label>
                                                   <input type="text" class="form-control" id="Hidratacion" name="Hidratacion">
                                                  </div>
                                                  <div class="col-sm-1 col-md-2 col-lg-3">
                                                    <label for="Temperatura" class="form-label">Temperatura</label>
                                                     <input type="text" class="form-control" id="Temperatura" name="Temperatura">
                                                    </div>
                                                    <div class="col-sm-1 col-md-2 col-lg-3">
                                                      <label for="Vascularidad" class="form-label">Vascularidad</label>
                                                       <input type="text" class="form-control" id="Vascularidad" name="Vascularidad">
                                                      </div>
                                                      <div class="col-sm-1 col-md-2 col-lg-3">
                                                        <label for="Flexibilidad" class="form-label">Flexibilidad</label>
                                                         <input type="text" class="form-control" id="Flexibilidad" name="Flexibilidad">
                                                        </div>
                                                          <br>
                                                          <div></div>
                                                          <br>
                                                          <h6>Cartacterísticas Mecánicas</h6>
                                                          <div class="col-sm-1 col-md-2 col-lg-3">
                                                            <label for="Elasticidad" class="form-label">Elasticidad</label>
                                                             <input type="text" class="form-control" id="Elasticidad" name="Elasticidad">
                                                            </div>
                                                            <div class="col-sm-1 col-md-2 col-lg-3">
                                                              <label for="Viscosidad" class="form-label">Viscosidad</label>
                                                               <input type="text" class="form-control" id="Viscosidad" name="Viscosidad">
                                                              </div>
                                                              <div class="col-sm-1 col-md-2 col-lg-3">
                                                                <label for="Volumen" class="form-label">Volumen</label>
                                                                 <input type="text" class="form-control" id="Volumen" name="Volumen">
                                                                </div>
                                                                <br>
                                                                <div></div>
                                                                <br>
                                                                <h6>Presencia de Cicatrices</h6>
                                                                <div class="col-sm-1 col-md-2 col-lg-3">
                                                                   <input type="text" class="form-control" id="PCicatrices" name="PCicatrices">
                                                                  </div> 
                                                                  <div>
                                                                    <br>
                                                                  </div>        <h5>Dolor</h5>
                            <div class="col-sm-1 col-md-2 col-lg-3">
                              <label for="OpcionDolorNeuro" class="form-label">Dolor</label>
                                <select name="OpcionDolorNeuro" id="OpcionDolorNeuro" class="form-select">
                                    <option value="Sí" selected>Sí</option>
                                    <option value="No">No</option>
                                    <option value="No Aplica">No Aplica</option>
                                </select>
                            </div>
                        <div class="col-sm-1 col-md-2 col-lg-3">
                          <label for="DolorNeuroLocalizacion" class="form-label">Localización</label>
                           <input type="text" class="form-control" id="DolorNeuroLocalizacion" name="DolorNeuroLocalizacion">
                          </div>
                          <div class="col-sm-1 col-md-2 col-lg-3">
                            <label for="DolorNeuroIntensidad" class="form-label">Intensidad</label>
                             <input type="text" class="form-control" id="DolorNeuroIntensidad" name="DolorNeuroIntensidad">
                            </div>
                            <div class="col-sm-1 col-md-2 col-lg-3">
                              <label for="DolorNeuroFactoresAgravantes" class="form-label">Factores Agravantes</label>
                               <input type="text" class="form-control" id="DolorNeuroFactoresAgravantes" name="DolorNeuroFactoresAgravantes">
                              </div>
                              <div class="col-sm-1 col-md-2 col-lg-3">
                                  <label for="DolorNeuroFactoresAtenuantes" class="form-label">Factores Atenuantes</label>
                                   <input type="text" class="form-control" id="DolorNeuroFactoresAtenuantes" name="DolorNeuroFactoresAtenuantes">
                                </div>
                                <div class="col-sm-1 col-md-2 col-lg-3">
                                  <label for="DolorNeuroEvolucion" class="form-label">Evolución</label>
                                   <input type="text" class="form-control" id="DolorNeuroEvolucion" name="DolorNeuroEvolucion">
                                </div>
                                <div class="col-sm-1 col-md-2 col-lg-3">
                                  <label for="DolorNeuroFrecuencia" class="form-label">Frecuencia</label>
                                   <input type="text" class="form-control" id="DolorNeuroFrecuencia" name="DolorNeuroFrecuencia">
                                </div>
                                <br>
                                <br>
                                <br>
                                <div></div>
                                <br>
                                <br>
                                <h5>Integridad Refleja</h5>
                                <br>
                               <br>
                                <h6>Reflejos Osteotendinosos</h6>
                    <div class="col-sm-1 col-md-2 col-lg-3">
                      <label for="MiembrosSupRo" class="form-label">Miembros Superiores</label>
                       <input type="text" class="form-control" id="MiembrosSupRo" name="MiembrosSupRo">
                      </div>
                      <div class="col-sm-1 col-md-2 col-lg-3">
                        <label for="MiembrosInfRo" class="form-label">
                        Miembros Inferiores</label>
                         <input type="text" class="form-control" id="MiembrosInfRo" name="MiembrosInfRo">
                        </div>
                        <br>
                        <br>
                        <br>
                        <div></div>
                        <br>
                        <h6>Tono Múscular</h6>
                        <div class="col-sm-1 col-md-2 col-lg-3">
                          <label for="MiembrosSupTm" class="form-label">Miembros Superiores</label>
                           <input type="text" class="form-control" id="MiembrosSupTm" name="MiembrosSupTm">
                          </div>
                          <div class="col-sm-1 col-md-2 col-lg-3">
                            <label for="MiembrosInfTm" class="form-label">
                            Miembros Inferiores</label>
                             <input type="text" class="form-control" id="MiembrosInfTm" name="MiembrosInfTm">
                            </div>
                            <div class="col-md-4">
                              <label for="FKPersona" class="form-label">Paciente</label>
                              <!-- <input type="number" class="form-control" id="FKPersona" name="FKPersona" placeholder="FKPersona"> -->
                              <select class="form-select" aria-label="Default select example" name="FKPersona" id="FKPersona">
                                <option selected disabled>Seleccione un paciente</option>
                                <% results.forEach((user)=>{ %>
                                  <option value="<%= user.id %>">
                                    <%= user.NumIdentificacion %> - <%= user.NombreCompleto%>
                                  </option>
                                <% }) %>
                              </select>
                          </div>
      <div></div>
      <br>
        <button type="submit" class="btn btn-outline-primary" style="width : 90px; height: 90px"  tabindex="12">Guardar datos</button>
        <br>
        <div></div>
        <br> 
          </form>
          </div>
        </div>
      </div>
  </body>
</html>